@import "./variables.less";
.logout {
    // 头像
    .top {
        background-color: rgb(250, 250, 250);
        padding: 80rem/@fs 0 84rem/@fs 0;
        .head {
            width: 242rem/@fs;
            height: 242rem/@fs;
            border-radius: 50%;
            background-color: @comColor;
            margin: 0 auto;
            text-align: center;
            line-height: 242rem/@fs;
            a {
                display: inline-block;
                width: 242rem/@fs;
                height: 242rem/@fs;
            }
            img {
                width: 72rem/@fs;
                height: 82rem/@fs;
            }
        }
        .tip {
            text-align: center;
            >p:first-child {
                margin: 64rem/@fs 0 20rem/@fs 0;
                font-size: 1.5rem;
            }
            >p:last-child {
                margin: 20rem/@fs 0;
                color: rgb(151, 151, 151);
            }
        }
    }
    //功能列表
    .list {
        .list-group {
            .list-group-item {
                padding: 52rem/@fs 0;
                border: 0;
                color: rgb(135, 135, 135);
                border-radius: 0;
                border-bottom: 1rem/@fs solid rgb(242, 242, 242);
                margin-bottom: 0;
                line-height: 1;
                span {
                    float: right;
                }
            }
            a.list-group-item:hover,
            a.list-group-item:focus {
                background-color: transparent;
            }
        }
    }
}
